In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Reading in CSVs

Merge_2019 = pd.read_csv("MERGE_2019_df.csv")
Merge_2018 = pd.read_csv("YR2018Data.csv")
Merge_2017 = pd.read_csv("YR2017Data.csv")
Merge_2016 = pd.read_csv("")
Merge_2015 = pd.read_csv("")

L_AIRPORT_ID = pd.read_csv("L_AIRPORT_ID.csv")
L_UNIQUE_CARRIERS = pd.read_csv("L_UNIQUE_CARRIERS.csv")
RDUCurrentDestinations = pd.read_csv("RDUCurrentDestinations.csv")
RDUCurrentFlights = pd.read_csv("RDUCurrentFlights.csv")
RDU_2015_19_Delays_Causes_ML = pd.read_csv("RDU_2015_19_Delays_Causes_ML.csv")

                                              Title     Code
Index
3                         Computer systems analysts  15-1211
4                     Information security analysts  15-1212
5      Computer and information research scientists  15-1221
7              Computer network support specialists  15-1231
8                 Computer user support specialists  15-1232

In [ ]:
# Created merged Dataframe. Use .append() to add each quarter

FINAL_MERGE_df = Merge_2019.append(Merge_2018).append(Merge_2017).append(Merge_2016).append(Merge_2015)

# Display data for the merged data

FINAL_MERGE_df

In [2]:
connection_string = f'postgresql://postgres:Syracuse10!@localhost:5432/where-can-we-go'
engine = create_engine(connection_string)

In [3]:
engine.table_names()

['FINAL_MERGE',
 'L_AIRPORT_ID',
 'L_UNIQUE_CARRIERS',
 'RDUCurrentDestinations',
 'RDUCurrentFlights',
 'RDU_2015_19_Delays_Causes_ML']

In [8]:
FINAL_MERGE_df.to_sql(name='FINAL_MERGE', con=engine, if_exists='replace')

NameError: name 'FINAL_MERGE_df' is not defined

In [32]:
FINAL_MERGE.to_sql(name='FINAL_MERGE', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from "FINAL_MERGE"', con=engine).head()

In [33]:
FINAL_MERGE.to_sql(name='L_AIRPORT_ID', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from "L_AIRPORT_ID"', con=engine).head()

In [34]:
FINAL_MERGE.to_sql(name='L_UNIQUE_CARRIERS', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from "L_UNIQUE_CARRIERS"', con=engine).head()

In [21]:
FINAL_MERGE.to_sql(name='RDUCurrentDestinations', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from "RDUCurrentDestinations"', con=engine).head()

In [22]:
FINAL_MERGE.to_sql(name='RDUCurrentFlights', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from "RDUCurrentFlights"', con=engine).head()

In [ ]:
FINAL_MERGE.to_sql(name='RDU_2015_19_Delays_Causes_ML', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from "RDU_2015_19_Delays_Causes_ML"', con=engine).head()