In [1]:
import pandas as pd
import numpy as np

In [2]:
RDU_2015_df = pd.read_csv('RDU_2015.csv')
RDU_2016_df = pd.read_csv('RDU_2016.csv')
RDU_2017_df = pd.read_csv('RDU_2017.csv')
RDU_2018_df = pd.read_csv('RDU_2018.csv')
RDU_2019_df = pd.read_csv('RDU_2019.csv')

In [3]:
RDU_2015_19_df = RDU_2015_df.append(RDU_2016_df)
RDU_2015_19_df = RDU_2015_19_df.append(RDU_2017_df)
RDU_2015_19_df = RDU_2015_19_df.append(RDU_2018_df)
RDU_2015_19_df = RDU_2015_19_df.append(RDU_2019_df)

In [4]:
RDU_2015_19_df

,Unnamed: 0,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 53
0,790,2015,1,1,1,4,2015-01-01,AA,N598AA,1302,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,791,2015,1,1,2,5,2015-01-02,AA,N434AA,1302,...,5,542.0,0.0,3.0,0.0,343.0,NaN,NaN,NaN,NaN
2,792,2015,1,1,3,6,2015-01-03,AA,N474AA,1302,...,5,1.0,0.0,13.0,0.0,18.0,NaN,NaN,NaN,NaN
3,793,2015,1,1,4,7,2015-01-04,AA,N4XLAA,1302,...,5,2.0,0.0,22.0,0.0,28.0,NaN,NaN,NaN,NaN
4,794,2015,1,1,5,1,2015-01-05,AA,N520AA,1302,...,5,0.0,0.0,0.0,0.0,42.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64151,621780,2019,4,12,26,4,2019-12-26,WN,N763SW,1593,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64152,621781,2019,4,12,26,4,2019-12-26,WN,N799SW,2510,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64153,621782,2019,4,12,26,4,2019-12-26,WN,N7886A,864,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64154,621783,2019,4,12,26,4,2019-12-26,WN,N296WN,1173,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64155,621784,2019,4,12,26,4,2019-12-26,WN,N958WN,2077,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Deleted following attributes: Tail Number, OriginCityName, OriginState, TaxiOut, WheelsOff, WheelsOn, TaxiIn, FirstDepTime, TotalAddGTime, LongestAddGtime.
RDU_2015_19_df = RDU_2015_19_df[['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK','FL_DATE', 'OP_UNIQUE_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN',
'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST', 'DEST_CITY_NAME','DEST_STATE_ABR', 'DEST_WAC', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY',
'DEP_DELAY_NEW', 'DEP_DEL15', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK', 'CRS_ARR_TIME','ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15','ARR_DELAY_GROUP', 'ARR_TIME_BLK', 'CANCELLED', 'CANCELLATION_CODE',
'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME','DISTANCE', 'DISTANCE_GROUP', 'CARRIER_DELAY', 'WEATHER_DELAY','NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']]

In [6]:
RDU_2015_19_df

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2015,1,1,1,4,2015-01-01,AA,1302,14492,RDU,...,190.0,188.0,171.0,1061.0,5,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,2,5,2015-01-02,AA,1302,14492,RDU,...,190.0,193.0,160.0,1061.0,5,542.0,0.0,3.0,0.0,343.0
2,2015,1,1,3,6,2015-01-03,AA,1302,14492,RDU,...,190.0,203.0,167.0,1061.0,5,1.0,0.0,13.0,0.0,18.0
3,2015,1,1,4,7,2015-01-04,AA,1302,14492,RDU,...,190.0,212.0,191.0,1061.0,5,2.0,0.0,22.0,0.0,28.0
4,2015,1,1,5,1,2015-01-05,AA,1302,14492,RDU,...,190.0,173.0,154.0,1061.0,5,0.0,0.0,0.0,0.0,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64151,2019,4,12,26,4,2019-12-26,WN,1593,14492,RDU,...,140.0,114.0,102.0,667.0,3,NaN,NaN,NaN,NaN,NaN
64152,2019,4,12,26,4,2019-12-26,WN,2510,14492,RDU,...,135.0,112.0,101.0,667.0,3,NaN,NaN,NaN,NaN,NaN
64153,2019,4,12,26,4,2019-12-26,WN,864,14492,RDU,...,105.0,107.0,88.0,587.0,3,NaN,NaN,NaN,NaN,NaN
64154,2019,4,12,26,4,2019-12-26,WN,1173,14492,RDU,...,115.0,99.0,88.0,587.0,3,NaN,NaN,NaN,NaN,NaN
64155,2019,4,12,26,4,2019-12-26,WN,2077,14492,RDU,...,115.0,113.0,100.0,587.0,3,NaN,NaN,NaN,NaN,NaN

In [7]:
list(RDU_2015_19_df.columns.values)

['YEAR',
 'QUARTER',
 'MONTH',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
 'FL_DATE',
 'OP_UNIQUE_CARRIER',
 'OP_CARRIER_FL_NUM',
 'ORIGIN_AIRPORT_ID',
 'ORIGIN',
 'ORIGIN_WAC',
 'DEST_AIRPORT_ID',
 'DEST',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'DEST_WAC',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'DEP_DELAY_NEW',
 'DEP_DEL15',
 'DEP_DELAY_GROUP',
 'DEP_TIME_BLK',
 'CRS_ARR_TIME',
 'ARR_TIME',
 'ARR_DELAY',
 'ARR_DELAY_NEW',
 'ARR_DEL15',
 'ARR_DELAY_GROUP',
 'ARR_TIME_BLK',
 'CANCELLED',
 'CANCELLATION_CODE',
 'DIVERTED',
 'CRS_ELAPSED_TIME',
 'ACTUAL_ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'DISTANCE_GROUP',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY']

In [8]:
RDU_2015_19_df.dtypes

YEAR                     int64
QUARTER                  int64
MONTH                    int64
DAY_OF_MONTH             int64
DAY_OF_WEEK              int64
FL_DATE                 object
OP_UNIQUE_CARRIER       object
OP_CARRIER_FL_NUM        int64
ORIGIN_AIRPORT_ID        int64
ORIGIN                  object
ORIGIN_WAC               int64
DEST_AIRPORT_ID          int64
DEST                    object
DEST_CITY_NAME          object
DEST_STATE_ABR          object
DEST_WAC                 int64
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
DEP_DELAY_NEW          float64
DEP_DEL15              float64
DEP_DELAY_GROUP        float64
DEP_TIME_BLK            object
CRS_ARR_TIME             int64
ARR_TIME               float64
ARR_DELAY              float64
ARR_DELAY_NEW          float64
ARR_DEL15              float64
ARR_DELAY_GROUP        float64
ARR_TIME_BLK            object
CANCELLED              float64
CANCELLATION_CODE       object
DIVERTED               float64
CRS_ELAPSED_TIME       float64
ACTUAL_ELAPSED_TIME    float64
AIR_TIME               float64
DISTANCE               float64
DISTANCE_GROUP           int64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
dtype: object

In [9]:
RDU_2015_19_df.to_csv('RDU_2015_19_Delays_Causes_ML.csv')

In [11]:
MDW_2015_19_df = RDU_2015_19_df.loc[(RDU_2015_19_df["DEST"] == "MDW") & (RDU_2015_19_df["YEAR"] == 2015) & (RDU_2015_19_df["QUARTER"] == 1), :]

In [12]:
MDW_2015_19_df.to_csv('MDW_2015_Delays_Causes_TEST.csv')